@use '../base' as *;
@use '../helpers' as *;

.url-page-wrapper {
	@include mixin-fullScreen;
	@include mixin-flexCenter;
	flex-direction: column;
	gap: 15rem;

	& > .container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;

		label > svg {
			width: 40%;
		}

		.urlForm {
			display: flex;
			gap: 1rem;
			position: relative;

			.urlInput {
				width: 30rem;
				border-radius: 1rem;
				height: 3rem;
				font-size: 1.5rem;
				padding: 0.5rem;
			}

			.submitButton {
				background-color: var(--color-gray-7);
				color: white;
				border-radius: 1rem;
				width: 4rem;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: 0.5rem 0.5rem;
			}
		}
	}

	& > .backButton {
		align-self: flex-start;
		color: white;
		border: solid 1px;
	}
}
