@use '../../../helpers' as *;

.logoMid {
	position: relative;
	width: 118px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.logoBig {
	position: relative;
	width: 130px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}
