@use '../../../helpers' as *;

.btn {
	@include mixin-btn;
	padding: 30px;
}

.doorBtn {
	@include mixin-btn;
	color: red;
	background-color: black;
}

.to {
	@include mixin-btn;
	color: blue;
}

.green {
	@include mixin-btn;
	color: green;
}
