@use '../helpers/' as *;

@mixin btn {
	@include mixin-flexCenter;
	min-height: 40px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	@content;
}

@mixin linkBtn {
	@include mixin-flexCenter;
	border: none;
	text-decoration: none;
	color: black;
	@content;
}
