@use '../helpers/' as *;

@mixin btn {
	@include mixin-flexCenter;
	cursor: pointer;
	min-height: 40px;
	border: none;
	border-radius: var(--radius-m);
	text-decoration: none;
	@content;
}

@mixin linkBtn {
	@include mixin-flexCenter;
	padding: var(--padding-s);
	color: black;
	border: none;
	border-radius: var(--radius-m);
	text-decoration: none;
	@content;
}
