:root {
  --white: #ffffff;
  --black: #000000;
  --color-gray-1: #111111;
  --color-gray-3: #333333;
  --color-gray-5: #555555;
  --color-gray-7: #767676;
  --color-gray-9: #dbdbdb;
  /* padding */
  --padding-s: 1rem;
  --padding-m: 2rem;
  --padding-l: 4rem;
  /* margin */
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
  /* font-size */
  --fs-xs: 0.8em;
  --fs-s: 1em;
  --fs-m: 1.5em;
  --fs-l: 2em;
  /* gap */
  --gap-xs: 0.7rem;
  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gap-l: 2rem;
  /* border-radius */
  --radius-s: 6px;
  --radius-m: 12px;
  --radius-l: 18px;
  /* z-index */
  --idx-2: 2;
  --idx-3: 3;
  --idx-4: 4;
}

html {
  font-family: "Apple SD Gothic Neo", Roboto, "Noto Sans KR", NanumGothic, "Malgun Gothic", sans-serif;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  padding: 30px;
}

.doorBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: red;
  background-color: black;
}

.to {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: blue;
}

.green {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: green;
}

.logoMid {
  position: relative;
  width: 118px;
  height: 38px;
}

.logoBig {
  position: relative;
  width: 130px;
  height: 70px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding: var(--padding-s);
}
.headerWrapper > .hamburgerBtn {
  position: relative;
  width: 100px;
  height: 100%;
}
.headerWrapper > .hamburgerBtn > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.landing-page-wrapper > .bg {
  position: absolute;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 540px) {
  .landing-page-wrapper > .bg {
    object-fit: cover;
    height: 100%;
  }
}
.landing-page-wrapper > .title {
  position: absolute;
  top: 5%;
  font-size: 3.5vmin;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
  color: white;
}
.landing-page-wrapper > .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
  width: 110vmin;
  gap: 10vmin;
}
.landing-page-wrapper > .btn-box > a:nth-of-type(1) {
  transition: 0.25s;
  opacity: 0.5;
}
.landing-page-wrapper > .btn-box > a:nth-of-type(1) > img {
  height: 100%;
}
.landing-page-wrapper > .btn-box > a:nth-of-type(1):hover {
  opacity: 1;
  transform: scale(1.2);
}
.landing-page-wrapper > .btn-box > a:nth-of-type(2) {
  transition: 0.25s;
  opacity: 0.5;
}
.landing-page-wrapper > .btn-box > a:nth-of-type(2):hover {
  opacity: 1;
  transform: scale(1.2);
}

.chat-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15rem;
}
.chat-page-wrapper > .btn-box {
  border: solid red;
  width: 50vmin;
}

.url-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15rem;
}
.url-page-wrapper > .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.url-page-wrapper > .container label > svg {
  width: 40%;
}
.url-page-wrapper > .container .urlForm {
  display: flex;
  gap: 1rem;
  position: relative;
}
.url-page-wrapper > .container .urlForm .urlInput {
  width: 30rem;
  border-radius: 1rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.url-page-wrapper > .container .urlForm .submitButton {
  background-color: var(--color-gray-7);
  color: white;
  border-radius: 1rem;
  width: 4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0.5rem 0.5rem;
}
.url-page-wrapper > .backButton {
  align-self: flex-start;
  color: white;
  border: solid 1px;
}

/*# sourceMappingURL=style.css.map */
